@font-face {
    font-family: 'loveloblack';
    src: url('/assets/fonts/Lovelo_Line_Bold.otf');
}

body {
    background: #DA513D;
    color: #f8f5e2;
    font-family: "loveloblack", "Helvetica", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

#logo h1 {
    font-family: "loveloblack", "Helvetica", sans-serif;
    color: #f8f5e2;
    text-transform: uppercase;
    font-size: 5em;
    text-align: center;
}

#coming h2 {
    font-family: "loveloblack", "Helvetica", sans-serif;
    color: #1abc9c;
    font-size: 5em;
    text-transform: lowercase;
    text-align: center;
}

